<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../../vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			
			<h2>{{username}}</h2>
			<h1>单行文本输入框</h1>
			<input type="text" name="unm"  :value="username" /> <!-- v-model="username"-->
			
			<h1>多行文本输入框</h1>
			<textarea name="" id="" cols="30" rows="10" v-model.lazy.trim="username"></textarea>
			
			<h1>复选框：选择喜欢的水果</h1>
			<span  v-for="item in fruits">
				{{item}}
			<input  type="checkbox"  v-model="checkFruits" :value="item" />	 <!-- 点击之后 框里的值有cF绑定到下面的H2进行显示-->
			</span>
			<h2>{{checkFruits}}</h2>
			
			<h1>单选框：选择最喜欢的水果</h1>
			<span  v-for="item in fruits">
				{{item}}
			<input  type="radio"  v-model="radioFruits" :value="item" />	
			</span>
			<h2>{{radioFruits}}</h2>
			
			<h1>选项框：选择你居住的城市</h1>
			<select v-model="myCity">
				<option   v-for="item in citys" :value="item">{{item}}</option>
			</select>
			<h3>{{myCity}}</h3>
			
			<h1>选项框：选择你喜欢的城市</h1>
			<select v-model="yourCity" multiple="multiple">
				<option   v-for="item in citys" :value="item">{{item}}</option>
			</select>
			<h3>{{yourCity}}</h3>
			
			<h1>将字符串变为数字获取</h1>
			<input type="text" v-model.number="age" />
			
		</div>
		
	</body>
	<script type="text/javascript">
		let app = new Vue({
			el:"#app",
			data:{
				username:'小明',
				fruits:['apple','banana','pear','peach'],
				citys:['北京','上海','广州','深圳'],
				
				checkFruits:[],
				radioFruits:'',
				myCity:"",
				yourCity:[],
				age:16
			},
			watch:{
				age:function(val){
					console.log(val)
				}
			}
		})
	</script>
</html>
